@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

th {
	font-size: 1.125rem !important;
	line-height: 1.75rem !important;
}

td {
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	padding: 20px 16px !important;
}
